<div>
  <div class="anaBaslik">
    <h2>e-Seçim</h2>
  </div>
  <div>
    <h3>e-Seçim Nedir?</h3>
  </div>
  <div>
    <p>
      Bilindiği üzere ülkemizde ;
      <li>
        Cumhurbaşkanlığı Seçimleri
      </li>

      <li>
        Genel Seçimler
      </li>
      <li>
        Yerel Seçimler
      </li>
      <li>
        Halk Oylamaları
      </li>

      Şeklinde seçimler yapılmaktadır. Her bu seçimlerinde personel olarak
      (sandık görevlileri, ulaşım sorumluları, güvenlik güçleri vs.) ,araç gereç
      olarak (oy pusulaları, mühürler, sandıklar vs.) çok fazla para harcanmakta
      ve ülke ekonomisine zarar vermekte. Ayrıca seçim günü insanlar işlerinden
      izin almakta, memleketlerine gidip oy kullanmakta zorlanmakta.
      Yaşlılarımız ise sandık başlarına gitmekte zorlanmakta. İkametgâh
      sorunları yaşanmakta. Sandık başlarında huzursuluk / kavgaların yaşanması
      gibi sorunlar yaşanmakta. Ayrıca şuan yaşadığımız pandemi sürecinde ki
      gibi salgın hastalıklar, afetler durumda insanlar sandıklarda
      zorlanmaktadır. Bunu bitirecek bir projem var. Projemde insanlar seçim
      günü evlerinde iş yerlerinde internetin olduğu her yerde telefon, tablet ,
      laptop, bilgisayardan bir tuşa basarak istediği partiye oy kullanabilecek.
      Ayrıca seçim gecesi sabaha kadar sayma işlemleri de son bulacak dijital
      ortamda seçimin bittiği saatte canlı olarak direkt hatasız şekilde
      raporlanacaktır.
    </p>
  </div>

  <div>
    <button
      class="buttonStyle"
      mat-raised-button
      color="primary"
      mat-dialog-close
    >
      Anladım
    </button>
  </div>
</div>
