<div style="text-align: center; font-size: 20px;color: firebrick; font-weight: bold;">
  <p>
   Hoşgeldiniz Sayın {{girisYapanName}} {{girisYapanSoyad}}. Oy Kullanmak için istediğiniz adayın üzerinde ki evet tuşuna tıklamanız yeterlidir.
  </p>
</div>
<div class="container">
  <div *ngFor="let item of partis">
    <div class="card" >
      <div>
        <img
          src="{{ item.Foto}}"
          alt="Immage"
          style="width: 300px; height: 200px; padding-top: 15px;"
        />
      </div>

      <div>
        <h2 style="color:black;">{{ item.Ad }} {{item.Soyad}}</h2>
      </div>
      <div>
        <button mat-fab color="warn" class="btn2" (click)="secimYap(item.Id)">Evet</button>

      </div>

      <div>
        <!-- <p>{{ hab.haber_tarihi[0] | date: "dd-MM-yyyy HH:MM" }}</p> -->
      </div>

      <div>

      </div>
    </div>
  </div>
</div>
